<div class="card m-2 pt-3" style="width: 18rem;">
    <!--<img src="https://fakeimg.pl/600x400" class="card-img-top" alt="...">-->
    <div class="card-body">
        <h5 class="card-title">{{ category.name }}</h5>
        <a href="{{ path('detailCategory', {'id': category.id}) }}" class="btn btn-primary">Edit</a>
    </div>
</div>
