{% extends 'base.html.twig' %}

{% block body %}

    <h2>Kategorien</h2>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        {% for category in categories %}
            {% include 'category/includes/category_detail.html.twig' %}
        {% endfor %}
    </div>
{% endblock %}
