{% if is_granted('ROLE_USER') %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
           aria-expanded="false">
            Abos
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ path('listSubscriptions') }}">Abo 端bersicht</a></li>
            <li><a class="dropdown-item" href="{{ path('newSubscription') }}">Abo hinzuf端gen</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
           aria-expanded="false">
            Kategorien
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ path('listCategories') }}">Kategorie 端bersicht</a>
            </li>
            <li><a class="dropdown-item" href="{{ path('newCategory') }}">Kategorie hinzuf端gen</a></li>
        </ul>
    </li>
{% endif %}
